@model IEnumerable<GridPromocional.Models.PgLogUploadHistory>

<form class="row dates-validation">
    <p>
        <div class="form-group mb-3 col-6 col-sm-4 col-xl-3">
            <label for="start" class="control-label">Fecha Inicial</label>
            <input name="start" id="start" type="date" class="form-control" value="@ViewBag.Start" />
        </div>
        <div class="form-group mb-3 col-6 col-sm-4 col-xl-3">
            <label for="end" class="control-label">Fecha Final</label>
            <input name="end" id="end" type="date" class="form-control" value="@ViewBag.End" />
        </div>
        <div class="form-group mb-3 col-sm-3">
            <br>
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </p>
</form>

@Html.DisplayForModel("ListUploadHistory")
@section Scripts{
    <script type="text/javascript" src="~/js/JsViews/User.js" asp-append-version="true"></script>
    <script>
        FileUsers();
    </script>
}