@{
    ViewData["Title"] = "Bienvenidos a GSK GP";
}

<div class="container_a row align-items-center index_image">
    <div class="col-lg-5">
        <p class="boxtext_1">GSK-GP . Sistema para el control de la distribución de la muestra médica  y material promocional a la fuerza de ventas.</p>
    </div>
</div>
