@page
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="container_a row align-items-center index_image">
    <div class="col-md-6">
        <p class="boxtext_1">@ViewData["Title"]</p>
        <p class="text-danger">No tiene acceso a este recurso.</p>
    </div>
</div>
