@page
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.SignedOutModel
@{
    ViewData["Title"] = "Sesión cerrada";
}


<div class="container_a row align-items-center index_image">
    <div class="col-md-6">
        <p class="boxtext_1">@ViewData["Title"]</p>
        <p class="text-danger">La sesión de la aplicación ha sido cerrada exitosamente.</p>
    </div>
</div>
